# Business Insights from Active Companies in Belgium

Load the necessary libraries and set up the environment for data analysis.

In [1]:
import sqlite3
import pandas as pd

# Connect to KBO database
conn = sqlite3.connect(r'./data/kbo_database.db')

Run a test query to check the connection to the database and retrieve the first 10 rows from the `enterprises` table.

In [ ]:

query = """
    SELECT *
    FROM enterprise
    LIMIT 5;
"""
df  = pd.read_sql_query(query, conn)
df.head()

,EnterpriseNumber,Status,JuridicalSituation,TypeOfEnterprise,JuridicalForm,JuridicalFormCAC,StartDate
0,0200.065.765,AC,0,2,416.0,None,09-08-1960
1,0200.068.636,AC,0,2,417.0,None,16-02-1923
2,0200.171.970,AC,0,2,116.0,None,01-01-1968
3,0200.245.711,AC,12,2,116.0,None,01-01-1922
4,0200.305.493,AC,0,2,416.0,None,19-03-1962

Get a list of enterprises with some of their details from the `code` table.

In [ ]:
query = """
    SELECT 
        EnterpriseNumber,
        te.Description AS TypeOfEnterprise,
        cs.Description AS Status,
        cjs.Description AS JuridicalSituation,
        cjf.Description AS JuridicalForm,
        cjfcac.Description AS JuridicalFormCAC,
        StartDate
    FROM enterprise AS e
    INNER JOIN code AS te
        ON te.Category = 'TypeOfEnterprise'
        AND te.Language = 'FR'
        AND e.TypeOfEnterprise = te.Code
    INNER JOIN code AS cs
        ON cs.Category = 'Status'
        AND cs.Language = 'FR'
        AND e.Status = cs.Code
    INNER JOIN code AS cjs
        ON cjs.Category = 'JuridicalSituation'
        AND cjs.Language = 'FR'
        AND e.JuridicalSituation = cjs.Code
    INNER JOIN code AS cjf
        ON cjf.Category = 'JuridicalForm'
        AND cjf.Language = 'FR'
        AND e.JuridicalForm = cjf.Code	
    INNER JOIN code AS cjfcac
        ON cjfcac.Category = 'JuridicalForm'
        AND cjfcac.Language = 'FR'
        AND e.JuridicalFormCAC = cjfcac.Code	
    LIMIT 10;
"""

df  = pd.read_sql_query(query, conn)
df.head()

,EnterpriseNumber,TypeOfEnterprise,Status,JuridicalSituation,JuridicalForm,JuridicalFormCAC,StartDate
0,0400.000.680,Personne morale,Actif,Situation normale,Société privée à responsabilité limitée,Société à responsabilité limitée,28-06-1968
1,0400.001.373,Personne morale,Actif,Dissolution volontaire – liquidation,Société privée à responsabilité limitée,Société à responsabilité limitée,01-10-1968
2,0400.004.640,Personne morale,Actif,Dissolution volontaire – liquidation,Société privée à responsabilité limitée,Société à responsabilité limitée,12-10-1968
3,0400.006.026,Personne morale,Actif,Dissolution volontaire – liquidation,Société privée à responsabilité limitée,Société à responsabilité limitée,01-10-1966
4,0400.009.093,Personne morale,Actif,Réunion des parts en une seule main,Société privée à responsabilité limitée,Société à responsabilité limitée,04-10-1968

## Which percentage of companies are under which juridical situation?

In [13]:
query = """
    SELECT 
        cjs.Description AS JuridicalSituation,
        COUNT(*) AS count,
        ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM enterprise), 2) AS percentage
    FROM enterprise AS e
    INNER JOIN code AS cjs
        ON cjs.Category = 'JuridicalSituation'
        AND cjs.Language = 'FR'
        AND e.JuridicalSituation = cjs.Code
    GROUP BY JuridicalSituation
    ORDER BY count DESC;
"""

df  = pd.read_sql_query(query, conn)
df.head(20)

                           JuridicalSituation    count  percentage
0                           Situation normale  1862383       96.68
1                       Ouverture de faillite    32386        1.68
2        Dissolution volontaire – liquidation    25070        1.30
3           Dissolution judiciaire ou nullité     3506        0.18
4         Réunion des parts en une seule main     1457        0.08
5                  Dissolution de plein droit      578        0.03
6         Concordat judiciaire avant faillite      423        0.02
7          Sursis (réorganisation judiciaire)      250        0.01
8     Ouverture de faillite avec excusabilité       41        0.00
9                  Réouverture de liquidation       39        0.00
10                           Sursis définitif       36        0.00
11                              Fin du sursis       34        0.00
12        Concordat judiciaire après faillite       18        0.00
13      Clôture de faillite avec excusabilité        6        0.00
14                          Sursis provisoire        6        0.00
15  Ouverture de faillite avec inexcusabilité        5        0.00
16                       Révocation du sursis        5        0.00
17                        Clôture de faillite        3        0.00

## Which percentage of companies are under which juridical form?

In [15]:
query = """
    SELECT 
        cjf.Description AS JuridicalForm,
        COUNT(*) AS count,
        ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM enterprise), 3) AS percentage
    FROM enterprise AS e
    INNER JOIN code AS cjf
        ON cjf.Category = 'JuridicalForm'
        AND cjf.Language = 'FR'
        AND e.JuridicalForm = cjf.Code	
    GROUP BY JuridicalForm
    ORDER BY count DESC;
"""

df  = pd.read_sql_query(query, conn)
df.head(110)

                                         JuridicalForm   count  percentage
0                     Société à responsabilité limitée  493384      25.614
1                        Association sans but lucratif  139213       7.227
2                      Association des copropriétaires  108445       5.630
3              Société privée à responsabilité limitée   86541       4.493
4                                      Société anonyme   80675       4.188
5                                     Entité étrangère   67576       3.508
6                                Société en commandite   47352       2.458
7    Société ou association sans personnalité jurid...   27737       1.440
8                             Société en nom collectif   24888       1.292
9                         Société en commandite simple   16182       0.840
10   Entité étrangère sans établissement belge avec...   12149       0.631
11                                           Unité TVA    8320       0.432
12                 Société coopérative (ancien statut)    7189       0.373
13                                Etablissement public    4870       0.253
14        Société coopérative à responsabilité limitée    4111       0.213
15   Entité étrangère avec un bien immobilier en Be...    3898       0.202
16      Société coopérative à responsabilité illimitée    2862       0.149
17        Association internationale sans but lucratif    2502       0.130
18                                    Fondation privée    2245       0.117
19                                 Société coopérative    1753       0.091
20   Mutualité / Société Mutualiste / Union nationa...    1678       0.087
21                               Union professionnelle    1283       0.067
22                        Forme légale inconnue (ONSS)     931       0.048
23   Organisation scientifique internationale de dr...     790       0.041
24                        Fondation d'utilité publique     732       0.038
25                      Centre public d'action sociale     567       0.029
26                                     Ville / commune     565       0.029
27                                    Société agricole     376       0.020
28          Organisme public étranger ou international     361       0.019
29                   Société en commandite par actions     342       0.018
30                                 Polder / wateringue     332       0.017
31                            Régie communale autonome     299       0.016
32                                  Autre forme légale     279       0.014
33            Groupement européen d'intérêt économique     268       0.014
34   Autre forme de droit privé avec personnalité j...     244       0.013
35   Société étrangère sans établissement belge cot...     200       0.010
36                               Zone de police locale     186       0.010
37                    Etablissement d'utilité publique     173       0.009
38                Organisme de financement de pensions     139       0.007
39                     Groupement d'intérêt économique     134       0.007
40                                 Association de CPAS     124       0.006
41               Organismes immatriculés pour l'O.N.P.     122       0.006
42   Société coopérative à responsabilité limitée à...     110       0.006
43    Société à responsabilité limitée de droit public      82       0.004
44                     Société anonyme de droit public      76       0.004
45                               Association de projet      73       0.004
46                            Ministère de l'Intérieur      60       0.003
47   Association d'assurances mutuelles / Caisse co...      60       0.003
48    Association chargée de mission (Région flamande)      54       0.003
49                               Autre service fédéral      47       0.002
50   Autorité de la Région flamande et de la Commun...      43       0.002
51   Entité étrangère avec un bien immobilier en Be...      38       0.002
52   Société coopérative de droit public (ancien st...      38       0.002
53                              Association momentanée      35       0.002
54   Société privée à responsabilité limitée à fina...      34       0.002
55                                     Zone de secours      33       0.002
56   Association étrangère privée avec établissemen...      32       0.002
57       Association sans but lucratif de droit public      27       0.001
58                          Régie provinciale autonome      26       0.001
59   Association prestataire de services (Région fl...      26       0.001
60                 Corporation professionnelle / Ordre      24       0.001
61                                      Intercommunale      20       0.001
62   Organisme immatriculé pour l'Administration de...      19       0.001
63                             Société de droit commun      18       0.001
64                                Autorité provinciale      16       0.001
65                 Autorité de la Communauté française      14       0.001
66              Société européenne (Societas Europaea)      13       0.001
67                              Service public fédéral      12       0.001
68                  Société anonyme à finalité sociale      10       0.001
69         Autorité de la Région de Bruxelles-Capitale      10       0.001
70   Société coopérative à responsabilité limitée, ...      10       0.001
71     Société en commandite simple à finalité sociale       9       0.000
72   Société coopérative à responsabilité limitée d...       9       0.000
73                      Autorité de la Région wallonne       8       0.000
74              Autorité de la Communauté germanophone       7       0.000
75                            Parti politique européen       7       0.000
76                      Société coopérative européenne       7       0.000
77                 Société coopérative de droit public       6       0.000
78                     Ministère de la Région wallonne       6       0.000
79   Groupement européen d'intérêt économique sans ...       6       0.000
80                  Divers sans personnalité juridique       5       0.000
81                Ministère de la Communauté française       5       0.000
82                      Fondation politique européenne       5       0.000
83                    Société congolaise (loi de 1927)       5       0.000
84   Groupement d'intérêt économique à finalité soc...       4       0.000
85   Société coopérative à responsabilité illimitée...       4       0.000
86                 Ministère de la Communauté flamande       4       0.000
87                  État, Province, Région, Communauté       4       0.000
88                                              Divers       3       0.000
89                  Ministère des Affaires économiques       2       0.000
90   Association internationale sans but lucratif d...       2       0.000
91             Service public fédéral de programmation       2       0.000
92   Société coopérative à responsabilité illimitée...       2       0.000
93                                            Syndicat       1       0.000
94      Autre forme à finalité sociale de droit public       1       0.000
95               Société en commandite de droit public       1       0.000
96   Société en commandite par actions à finalité s...       1       0.000
97         Société en nom collectif à finalité sociale       1       0.000
98        Ministère de la Région de Bruxelles-Capitale       1       0.000
99                        Services du Premier Ministre       1       0.000
100                            Ministère de la Justice       1       0.000
101                     Ministère des Classes moyennes       1       0.000
102  Ministère des Affaires étrangères, Commerce ex...       1       0.000
103                                     Monts-de-Piété       1       0.000
104                      Institution sans but lucratif       1       0.000

## What is the distribution of company statuses?

In [16]:
query = """
    SELECT 
        cs.Description AS Status,
        COUNT(*) AS count,
        ROUND(100.0 * COUNT(*) / (SELECT COUNT(*) FROM enterprise), 2) AS percentage
    FROM enterprise AS e
    INNER JOIN code AS cs
        ON cs.Category = 'Status'
        AND cs.Language = 'FR'
        AND e.Status = cs.Code
    GROUP BY Status
    ORDER BY count DESC;
"""

df  = pd.read_sql_query(query, conn)
df.head()

  Status    count  percentage
0  Actif  1926246       100.0

## Calculate average company age by sector (NACE codes)

In [ ]:
query = """
"""

df  = pd.read_sql_query(query, conn)
df.head()

## Track company creation trends over time with time-based analysis

In [11]:
query = """
    SELECT 
	    CAST(SUBSTR(StartDate, 7, 4) AS INTEGER) AS year,
	    COUNT(*) AS NewCompanies
    FROM enterprise
    WHERE StartDate IS NOT NULL
    GROUP BY year
    ORDER BY year DESC;
"""

df  = pd.read_sql_query(query, conn)
df.head(10)

   year  NewCompanies
0  2025         74092
1  2024        130923
2  2023        115432
3  2022        105626
4  2021        100446
5  2020         84786
6  2019         81171
7  2018         73309
8  2017         66413
9  2016         61028

## Compare geographical distribution of companies

In [ ]:
query = """
"""

df  = pd.read_sql_query(query, conn)
df.head()

## Find growth trends by sector with year-over-year analysis

In [ ]:
query = """
"""

df  = pd.read_sql_query(query, conn)
df.head()

## Detect seasonal patterns for company creation

In [ ]:
query = """
"""

df  = pd.read_sql_query(query, conn)
df.head()

## Which are the rising sectors per region in the the last 5 years?

And what companies within those sectors have the biggest pressence and the fastest grow?

In [ ]:
query = """
"""

df  = pd.read_sql_query(query, conn)
df.head()